<!DOCTYPE HTML>
<html>
   <head>
      <title>Sign Up</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="../static/hyper/css/main.css" />
   </head>
   <body>
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="/">Welcome</a></li>
							<li><a href="/#one">Who we are</a></li>
							<li><a href="/#two">What we do</a></li>
							<li><a href="signup">Sign Up</a></li>
                     <li><a href="/#three">Sign In</a></li>
                     <li><a href="profile">Profile</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
         <h1>Sign Up for Tinder For Tech</h1>
      <div class="split style1">
      <section>
         <form method="post" action="/signupform">
            <div class="field half first">
               <label for="Username">Username</label>
               <input required type="text" name="username" id="username" />
            </div>
            <div class="field half">
               <label for="password">Password</label>
               <input required type="password" name="password" id="password" />
            </div>
            <div class="field half first">
               <label for="Name">Name</label>
               <input required type="text" name="name" id="name" />
            </div>
            <div class="field half">
               <label for="gender">Gender?</label>
               <input required type="text" name="gender" id="gender" />
            </div>
            <div class="field half first">
               <label for="Location">City, State</label>
               <input required type="text" name="location" id="location" />
            </div>
            <div class="field half">
               <label for="profile">Describe Yourself</label>
               <input required type="text" name="profile" id="profile" />
            </div>
            <ul class="actions">
               <li><a href="" class="button submit">Submit</a></li>
            </ul>
         </form>
						</div>
					</section>
      <class="wrapper style1 fade-up">
      <div class="inner">
      </section>

			<script src="../static/hyper/js/jquery.min.js"></script>
			<script src="../static/hyper/js/jquery.scrollex.min.js"></script>
			<script src="../static/hyper/js/jquery.scrolly.min.js"></script>
			<script src="../static/hyper/js/skel.min.js"></script>
			<script src="../static/hyper/js/util.js"></script>
			<!--[if lte IE 8]><script src="hyper/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/hyper/js/main.js"></script>

   </body>
</html>
